In [135]:
import pandas as pd

In [136]:
# csv 폴더 안에 있는 corona.csv 파일을 로드
df = pd.read_csv("../../../../csv/corona.csv")

In [137]:
df.tail(620)

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
200,200,2021-11-20 08:51:26.319,3244,412302,703,20211120,00:00,2021-11-26 09:28:52.855,16740119.0,2.740178
201,201,2021-11-19 08:54:43.169,3215,409097,702,20211119,00:00,2021-11-26 09:28:44.079,16684168.0,2.723426
202,202,2021-11-18 08:34:37.757,3187,406064,701,20211118,00:00,2021-11-23 09:01:10.675,16631273.0,2.710618
203,203,2021-11-17 08:48:17.282,3158,402772,700,20211117,00:00,2021-11-23 09:01:22.695,16575880.0,2.696496
204,204,2021-11-16 08:39:32.225,3137,399583,699,20211116,00:00,2021-11-23 09:01:35.496,16525384.0,2.680341
...,...,...,...,...,...,...,...,...,...,...
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [138]:
## 데이터프레임의 정보를 출력
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [139]:
## 특정 컬럼을 제거
## drop({조건}, axis = {0 or rows, 1 or columns}, inplace = {bool})
## drop() 함수는 DataFrame class 안에 내장된 함수
## axis : 행을 지울 것인가? (0 or rows), 열을 지울 것인가? (1 or columns)
## inplace : 기본값은 False 
##           거짓인 경우 : 함수의 결과를 출력
##           참인 경우 : 기준이 되는 df에 결과를 저장한다.
df.drop(
    ['Unnamed: 0','seq'],
    axis = 1,
    inplace = True
)

In [140]:
## 데이터프레임의 복사본 생성
corona = df.copy()

- corona에서 컬럼의 이름을 변경
    - ['등록일시', '총사망자',' 총확진자', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진자']

In [141]:
corona.columns = ['등록일시', '총사망자','총확진자', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진자']

In [142]:
corona

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진자
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [143]:
# case1
# DataFrame 안에 있는 columns라는 변수의 데이터를 변경

# case2
# DataFrame 안에 있는 rename 함수를 사용하여 변경
corona.rename(
    columns = {
        'createDt' : '등록일시',
        'deathCnt' : '사망자수',
        'decideCnt' : '총확진자',
        'stateDt' : '기준일',
        'stateTime' : '기준시간',
        'updateDt' : '수정일시',
        'accExamCnt' : '누적의심자',
        'accDefRate' : '누적확진자'
    }
)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진자
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [144]:
## 결측치의 개수 확인
corona.isna().sum()

등록일시       0
총사망자       0
총확진자       0
기준일        0
기준시간       0
수정일시       3
누적의심자    128
누적확진자    197
dtype: int64

In [145]:
corona.rename(
    columns = {
        '누적확진자' : '누적확진율'
    }, inplace = True
)

In [146]:
corona

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [147]:
## 데이터의 정렬을 변경
## sort_index(), sort_values({기준이 되는 컬럼명}, ascending={bool}, inplace={bool})
## 기준이 되는 컬럼명 : 복수 선택이 가능 ([컬럼명, 컬럼명])
## ascending : True가 기본값이며 오름차순 정렬, False는 내림차순 정렬
corona.sort_values(['등록일시'], ascending = True, inplace = True)

In [148]:
corona.reset_index(drop = True, inplace=True)

In [149]:
corona

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [150]:
corona.iloc[1, 1]

60

In [151]:
corona.loc[1,'총사망자']

60

In [152]:
corona.loc[1, '총사망자'] - corona.loc[0, '총사망자']

6

In [153]:
import numpy as np

In [154]:
data_list = [0]
for i in range(0,len(corona)-1, 1) :
    deathcnt = corona.loc[i+1, '총사망자'] - corona.loc[i,'총사망자']
    data_list.append(deathcnt)
corona['일일사망자'] = data_list

In [155]:
corona['일일사망자'] = data_list
corona

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5
...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,6

In [156]:
## shift({n}) : 인덱스를 n만큼 이동하여 새로운 시리즈 데이터를 생성
corona['일일사망자2'] = (corona['총사망자'] - corona['총사망자'].shift(1)).fillna(0)

In [157]:
corona

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0
...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9,9.0
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20,20.0
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21,21.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20,20.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,6,6.0

In [158]:
## diff({n}) : 인덱스가 n만큼 이동한 데이터와의 차이 값을 출력
corona['일일사망자3'] = corona['총사망자'].diff(1).fillna(0)

In [159]:
corona.head(12)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0,5.0
5,2020-03-15 00:00:00.000,75,8162,20200315,00:00,2021-10-07 10:30:51.51,268212.0,3.239660,3,3.0,3.0
6,2020-03-16 00:00:00.000,75,8236,20200316,00:00,2021-10-07 10:30:51.51,274504.0,3.173392,0,0.0,0.0
7,2020-03-17 00:00:00.000,81,8320,20200317,00:00,2021-10-07 10:30:51.51,286716.0,3.088058,6,6.0,6.0
8,2020-03-18 00:00:00.000,84,8413,20200318,00:00,2021-10-07 10:30:51.51,295647.0,3.012163,3,3.0,3.0
9,2020-03-19 00:00:00.000,91,8565,20200319,00:00,2021-10-07 10:30:51.51,307024.0,2.942086,7,7.0,7.0
10,2020-03-20 00:00:00.000,94,8652,20200320,00:00,2021-10-07 10:30:51.51,316664.0,2.873092,3,3.0,3.0
11,2020-03-21 00:00:00.000,102,8799,20200321,00:00,2021-10-07 10:30:51.51,327509.0,2.821956,8,8.0,8.0

In [161]:
data_list = [0]
for i in range(0,len(corona)-1, 1) :
    deathcnt = corona.loc[i+1, '총확진자'] - corona.loc[i,'총확진자']
    data_list.append(deathcnt)
corona['일일확진자'] = data_list

corona['일일확진자2'] = (corona['총확진자'] - corona['총확진자'].shift(1)).fillna(0)

corona['일일확진자3'] = corona['총확진자'].diff(1).fillna(0)

corona

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2,일일확진자3
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0,0,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0,242,242.0,242.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0,114,114.0,114.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0,1.0,110,110.0,110.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0,5.0,107,107.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9,9.0,9.0,12039,12039.0,12039.0
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20,20.0,20.0,9834,9834.0,9834.0
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21,21.0,21.0,5022,5022.0,5022.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20,20.0,20.0,6172,6172.0,6172.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,6,6.0,6.0,13358,13358.0,13358.0

In [162]:
corona.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2,일일확진자3
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,29.574390,29.574390,22171.569512,22171.569512,22171.569512
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530863,68.530863,68.530863,71013.854189,71013.854189,71013.854189
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,-2.000000,-2.000000,-2.000000,-430.000000,-430.000000,-430.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,2.000000,2.000000,125.000000,125.000000,125.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,5.000000,5.000000,642.500000,642.500000,642.500000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,20.000000,20.000000,2782.750000,2782.750000,2782.750000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,469.000000,469.000000,621204.000000,621204.000000,621204.000000

In [170]:
flag = corona['일일사망자'] < 0
corona.loc[flag,]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2,일일확진자3
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430,-430.0,-430.0

In [171]:
flag2 = corona['일일확진자'] < 0
corona.loc[flag2,]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2,일일확진자3
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430,-430.0,-430.0

In [169]:
corona.sort_values(['일일사망자']).head(3)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2,일일확진자3
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430,-430.0,-430.0
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0,0,0.0,0.0
57,2020-05-06 00:00:00.000,255,10806,20200506,00:00,2021-10-07 10:30:51.51,643095.0,1.701502,1,1.0,1.0,2,2.0,2.0

In [168]:
corona.sort_values(['일일확진자']).head(3)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2,일일확진자3
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430,-430.0,-430.0
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0,0,0.0,0.0
57,2020-05-06 00:00:00.000,255,10806,20200506,00:00,2021-10-07 10:30:51.51,643095.0,1.701502,1,1.0,1.0,2,2.0,2.0

In [175]:
# iloc는 위치 범위를 지정함으로 이상 : 미만으로 적용
corona.iloc[444:449,]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2,일일확진자3
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0,533,533.0,533.0
445,2021-05-30 00:00:00.0,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0,910,910.0,910.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430,-430.0,-430.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0,889,889.0,889.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0,677,677.0,677.0

In [176]:
# loc는 값을 기준으로 범위를 정하기 때문에 이상 : 이하까지 가져온다.
corona.loc[444:448,]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2,일일확진자3
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0,533,533.0,533.0
445,2021-05-30 00:00:00.0,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0,910,910.0,910.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430,-430.0,-430.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0,889,889.0,889.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0,677,677.0,677.0

In [187]:
corona.loc[[445],['등록일시']] ='2021-05-31 00:00:00.000'

In [190]:
corona.loc[444 : 448, ['등록일시']]

                        등록일시
444  2021-05-29 00:00:00.000
446  2021-05-30 00:00:00.000
445  2021-05-31 00:00:00.000
447  2021-06-01 00:00:00.000
448  2021-06-02 00:00:00.000

In [189]:
corona.sort_values(['등록일시'], inplace=True)

- 일일사망자, 일일사망자2, 일일사망자3, 일일확진자, 일일확진자2, 일일확진자3 을 제거
    - 혹은 특정 컬럼의 데이터를 추출
- 등록일시로 오름차순 sort
- index값 reset
- 파생변수 생성
- 음수 여부 확인

In [191]:
corona.drop(
    ['일일사망자','일일사망자2', '일일사망자3', '일일확진자','일일확진자2','일일확진자3'],
    axis = 1,
    inplace = True
)

In [ ]:
corona.reset_index(drop=True, inplace=True)

In [192]:
corona

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [193]:
corona['일일사망자'] = corona['총사망자'].diff(1).fillna(0)

In [194]:
corona['일일확진자'] = corona['총확진자'].diff(1).fillna(0)

In [195]:
corona.sort_values(['일일사망자'])

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0.0,0.0
109,2020-06-28 00:00:00.000,282,12715,20200628,00:00,2021-10-07 10:30:51.51,1251695.0,1.031484,0.0,62.0
108,2020-06-27 00:00:00.000,282,12653,20200627,00:00,2021-10-07 10:30:51.51,1243780.0,1.033814,0.0,51.0
107,2020-06-26 00:00:00.000,282,12602,20200626,00:00,2021-10-07 10:30:51.51,1232315.0,1.038495,0.0,39.0
105,2020-06-24 00:00:00.000,281,12535,20200624,00:00,2021-10-07 10:30:51.51,1208597.0,1.054822,0.0,51.0
...,...,...,...,...,...,...,...,...,...,...
741,2022-03-22 08:56:35.519,13141,9936142,20220322,00:00,2022-03-29 09:12:46.454,NaN,NaN,384.0,353828.0
744,2022-03-25 09:00:20.4,14294,11161890,20220325,00:00,2022-04-01 09:07:43.379,NaN,NaN,393.0,339451.0
736,2022-03-17 09:28:28.783,11481,8250270,20220317,00:00,2022-03-24 09:06:26.685,NaN,NaN,429.0,621204.0
749,2022-03-30 09:07:48.451,15855,12774654,20220330,00:00,2022-04-06 13:45:06.86,NaN,NaN,432.0,424466.0
743,2022-03-24 09:03:23.4,13901,10822439,20220324,00:00,2022-03-31 09:07:42.756,NaN,NaN,469.0,395526.0

In [196]:
corona.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율,일일사망자,일일확진자
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,22171.569512
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530435,71013.844067
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,0.000000,0.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,125.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,634.000000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,2782.750000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,621204.000000

### 일일확진자, 일일사망자를 생성하는 함수
- 매개변수 2개 (데이터 프레임, 오름차순정렬 컬럼)
- 특정 컬럼을 제거
    - unnamed: 0 컬럼이 존재한다면 제거, 존재하지 않으면 행동 x
    - seq 컬럼이 존재한다면 제거, 존재하지 않으면 행동 x
- 컬럼의 이름을 변경
- 2번째 매개변수를 기준으로 데이터프레임을 오름차순 정렬
- 인덱스를 초기화하고 기존의 인덱스는 제거
- '일일사망자', '일일확진자' 컬럼읠 추가
- 모든 작업이 끝난 데이터프레임을 리턴

In [213]:
def corona_EDA(df, _col) :
    _df = df.copy()
    # 특정 컬럼을 제거
    # unnamed: 0 컬럼을 제거
    if 'Unnamed: 0' in _df.columns:
        _df.drop('Unnamed: 0', axis = 1, inplace = True)
    if 'seq' in _df.columns:
        _df.drop('seq', axis = 1, inplace = True)
    _df.columns =['등록일시', '총사망자', '총확진자', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진율']
    
    # 2번째 매개변수를 기준으로 데이터를 오름차순 정렬
    _df.sort_values(_col, inplace = True)

    #인덱스 초기화하고 기존의 인덱스는 삭제
    _df.reset_index(drop = True, inplace = True)
    
    #파생변수 생성
    _df['일일사망자'] = _df['총사망자'].diff().fillna(0)
    _df['일일확진자'] = _df['총확진자'].diff().fillna(0)
    return _df

In [214]:
df = pd.read_csv("../../../../csv/corona.csv")

In [215]:
df2 = corona_EDA(df, '기준일')
df2

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6.0,242.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6.0,114.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1.0,110.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5.0,107.0
...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9.0,12039.0
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20.0,9834.0
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21.0,5022.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20.0,6172.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,6.0,13358.0

In [217]:
df3 = pd.read_csv("../../../../csv/corona.csv", index_col=0)
df3.head(3)

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN

In [219]:
df4 = corona_EDA(df3, '등록일시')

In [220]:
df4.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율,일일사망자,일일확진자
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,22171.569512
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530863,71013.854189
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,-2.000000,-430.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,125.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,642.500000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,2782.750000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,621204.000000