In [1]:
import pandas as pd
uriage = pd.read_csv('../../../../csv/uriage.csv')

In [3]:
uriage.head(10)

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현
5  2019-03-20 19:16       상품S      1900.0           김우진
6  2019-05-18 19:16      상품 a         NaN           김재준
7   2019-04-18 0:14       상품V      2200.0           김민혁
8  2019-01-10 15:51       상품O      1500.0           김선우
9  2019-01-28 10:47       상품A       100.0           김태윤

### 데이터의 정형화
1. item_name의 value들을 모두 대문자로 변경
    - 문자열 내장함수에서 대문자로 변경하는 함수 ( upper())
2. item_name의 valu의 문자 사이에 있는 공백을 제거
    - 문자열 내장함수에서 문자열 좌우의 공백을 제거하는 함수 ( strip())
    - 문자열 내장함수에서 문자 사이의 공백을 제거 ( replace(" ",""))

In [4]:
uriage['item_name']

0         상품A
1       상 품 S
2       상 품 a
3         상품Z
4         상품a
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [6]:
uriage['item_name'].value_counts()

item_name
상품A     133
상품R     133
상품S     133
상품P     132
상품C     130
       ...
상품 H      1
상 품K      1
상 품T      1
상품 X      1
상 품P      1
Name: count, Length: 99, dtype: int64

In [8]:
## Series 데이터 에서는 .upper() 사용이 불가능
uriage['item_name'].upper()

AttributeError: 'Series' object has no attribute 'upper'

In [9]:
uriage.loc[2, 'item_name'].upper()

'상 품 A'

In [156]:
## 데이터를 카피해서 백업시키기
df = uriage.copy()

In [157]:
# case1 (for문)
# 데이터프레임에서  item_name의 value를 하나씩 추출하여 upper()를 이용하여 대문자로 변환한 뒤 비어있는 리스트에 추가
data_list = []
for i in range(len(df)) :
    data = df.loc[i,'item_name'].upper()
    data_list.append(data)
    
data_list

['상품A',
 '상 품 S',
 '상 품 A',
 '상품Z',
 '상품A',
 '상품S',
 '상품 A',
 '상품V',
 '상품O',
 '상품A',
 '상 품U',
 '상품L',
 '상  품V',
 '상 품O',
 '상품A',
 '상품C',
 '상품V',
 '상품I',
 '상품R',
 '상품X',
 '상품O',
 '상품 G',
 '상품X',
 '상품R',
 '상품P',
 '상품Q',
 '상품Y',
 '상품P',
 '상품P',
 '상품R',
 '상품P',
 '상품 A',
 '상품N',
 '상품R',
 '상품W',
 '상품A',
 '상 품E',
 '상품K',
 '상품O',
 '상품W',
 '상품O',
 '상품K',
 '상품B',
 '상품F',
 '상품P',
 '상품X',
 '상품B',
 '상 품S',
 '상품F',
 '상품X',
 ' 상품W',
 ' 상 품 N',
 '상품Q',
 '상품P',
 '상품I',
 '상 품F',
 '상품D',
 '상품R',
 '상품M',
 '상품M',
 '상품Q',
 '상품A',
 '상품Y',
 '상품I',
 '상품U',
 '상품H',
 '상품P',
 '상품P',
 '상품T',
 '상품Y',
 '상품W',
 '상품M',
 '상품V',
 '상품D',
 '상품J',
 '상 품O',
 '상품L',
 '상품F',
 '상품U',
 '상품N',
 '상품P',
 '상품S',
 '상품X',
 '상품O',
 '상품V',
 '상품K',
 '상품N',
 '상품I',
 '상  품O',
 '상품R',
 '상품V',
 '상품Y',
 '상품E',
 '상품E',
 '상품H',
 '상품S',
 '상품W',
 '상품Y',
 '상품O',
 '상품F',
 '상품K',
 '상품B',
 '상품W',
 '상  품Q',
 '상품Q',
 '상품N',
 ' 상품 S',
 ' 상품 M',
 '상품I',
 '상  품T',
 '상품I',
 '상품H',
 '상품Y',
 '상품R',
 '상품C',
 '상품V',
 '상품T',
 '상품A',
 '상품T',
 '상품Q',
 '상품P',
 '상품W',
 '상품I',
 '상품T',
 '상품G',
 '상품N',
 '상품U',
 '상품S',
 '상품U',
 '상품M',
 '상품A',
 '상품P',
 '상품U',
 '상품X',
 '상품I',
 '상품U',
 '상품X',
 '상품L',
 '상품F',
 '상품G',
 '상품D',
 '상품X',
 '상품U',
 '상품N',
 '상품C',
 '상품W',
 '상품S',
 '상품U',
 '상품K',
 '상품G',
 '상품Q',
 '상품I',
 '상품L',
 '상품T',
 '상품P',
 '상품T',
 '상품V',
 '상품E',
 '상품P',
 '상 품G',
 '상품L',
 ' 상품 P',
 '상품M',
 '상품D',
 '상품O',
 '상품N',
 '상품X',
 '상품W',
 '상품J',
 '상품X',
 '상품R',
 '상품A',
 '상품W',
 '상품C',
 '상품O',
 '상품V',
 '상품U',
 '상품F',
 '상품K',
 '상품W',
 ' 상품 E',
 '상품S',
 '상 품N',
 '상품C',
 '상품I',
 '상품W',
 '상품D',
 '상품E',
 '상품V',
 '상품Y',
 '상품V',
 '상품X',
 '상품F',
 '상품F',
 '상품B',
 '상품C',
 '상품K',
 '상품M',
 '상품Y',
 '상품Q',
 '상품I',
 '상품G',
 '상품T',
 '상품D',
 '상품D',
 '상 품Y',
 '상품E',
 '상품N',
 '상품F',
 '상품N',
 '상품A',
 '상품A',
 '상품B',
 '상품X',
 '상품Y',
 '상품S',
 '상품P',
 '상품V',
 '상품I',
 '상품O',
 '상품J',
 '상품 J',
 '상품C',
 '상품A',
 '상품U',
 '상품J',
 '상품M',
 '상품F',
 '상품B',
 '상품N',
 '상품Q',
 '상품T',
 '상품L',
 '상품O',
 '상품A',
 '상품R',
 '상품R',
 '상품F',
 '상품Y',
 '상품R',
 '상품L',
 '상품B',
 '상품 V',
 '상품P',
 '상품X',
 '상품B',
 '상품Q',
 '상품U',
 '상품W',
 '상품U',
 '상품C',
 '상품V',
 '상품Q',
 '상품N',
 '상품X',
 '상품P',
 '상품B',
 '상품C',
 '상품Q',
 '상품S',
 '상품E',
 '상품F',
 '상품F',
 '상품F',
 '상품E',
 '상품G',
 '상품U',
 '상품L',
 '상품U',
 '상품I',
 '상품F',
 '상품W',
 '상품K',
 '상품V',
 '상품A',
 '상품F',
 '상품L',
 '상품O',
 '상품S',
 '상품D',
 '상품V',
 '상품J',
 '상품E',
 '상품U',
 '상품W',
 '상품B',
 '상품 J',
 '상품L',
 '상품W',
 '상품K',
 '상품B',
 '상품F',
 '상품B',
 '상품M',
 '상품C',
 '상품A',
 '상품N',
 '상품P',
 '상품C',
 '상품X',
 '상품A',
 '상품L',
 '상품K',
 '상품P',
 '상품S',
 '상품Q',
 '상품M',
 '상품R',
 '상품 K',
 '상품X',
 '상품X',
 '상품H',
 '상품G',
 '상품G',
 '상품E',
 '상품O',
 '상품E',
 '상품R',
 '상품Y',
 '상품M',
 '상품P',
 '상품B',
 '상품E',
 '상품U',
 '상품V',
 '상품L',
 '상품T',
 '상품W',
 '상 품V',
 '상품W',
 '상품B',
 '상품R',
 '상품V',
 '상품W',
 '상품M',
 '상품G',
 '상품G',
 '상품G',
 '상품G',
 '상품M',
 '상품F',
 '상품V',
 '상품W',
 '상품N',
 '상품J',
 '상품H',
 '상품A',
 '상품A',
 '상품F',
 '상품M',
 '상품G',
 '상품D',
 '상품I',
 '상품O',
 '상품W',
 '상품S',
 '상품Q',
 '상품C',
 '상품P',
 '상품I',
 '상품A',
 '상품A',
 '상품S',
 '상품A',
 '상품M',
 '상품D',
 '상품G',
 '상품G',
 '상품T',
 '상품E',
 '상품O',
 '상품T',
 '상품S',
 '상품T',
 '상품X',
 '상품V',
 '상품Q',
 '상품F',
 '상품H',
 '상품B',
 '상품B',
 '상품M',
 '상품I',
 '상품R',
 '상품L',
 '상품D',
 '상품K',
 '상품V',
 '상품K',
 '상품F',
 '상품B',
 '상품V',
 '상품T',
 '상품K',
 '상품J',
 '상품A',
 '상품O',
 '상품J',
 '상품H',
 '상품I',
 '상품S',
 '상품S',
 '상품E',
 '상품N',
 '상품O',
 '상품R',
 '상품Q',
 '상품E',
 '상품Y',
 '상품F',
 '상 품D',
 '상 품A',
 '상품R',
 '상품W',
 '상품P',
 '상품F',
 '상품Y',
 '상품C',
 '상품R',
 '상품Q',
 '상품V',
 '상품E',
 '상품F',
 '상품O',
 '상 품V',
 '상품S',
 '상품M',
 '상품E',
 '상품J',
 '상품P',
 '상품F',
 '상품S',
 '상품T',
 '상품W',
 '상품W',
 '상품U',
 '상품L',
 '상품Q',
 '상품S',
 '상품Q',
 '상품Q',
 '상품D',
 '상품G',
 '상품U',
 '상품E',
 '상품S',
 '상품 F',
 '상품B',
 '상품N',
 '상품F',
 '상품Y',
 '상품D',
 '상품X',
 '상품C',
 '상품S',
 '상품S',
 '상품L',
 '상품B',
 '상품D',
 '상품B',
 '상품M',
 '상품D',
 '상품J',
 '상품I',
 '상품J',
 '상품R',
 '상품C',
 '상품J',
 '상품D',
 '상품R',
 '상품O',
 '상품Q',
 '상품P',
 '상품A',
 '상품 F',
 '상품D',
 '상품D',
 '상품K',
 '상품D',
 '상품C',
 '상품V',
 '상품M',
 '상품O',
 '상품M',
 '상품P',
 '상품A',
 '상품K',
 '상품N',
 '상품A',
 '상품X',
 '상품V',
 '상품E',
 '상품P',
 '상품H',
 '상품P',
 '상품X',
 '상품 H',
 '상품A',
 '상품U',
 '상품K',
 '상품C',
 '상품R',
 '상품W',
 '상품E',
 '상품 V',
 '상품C',
 '상품T',
 '상품D',
 '상품N',
 '상품W',
 '상품P',
 '상품U',
 '상품P',
 '상품N',
 '상품P',
 '상품E',
 '상품T',
 '상품W',
 '상품L',
 '상품C',
 '상품H',
 '상품O',
 '상품W',
 '상품D',
 '상품N',
 '상품N',
 '상품P',
 '상품K',
 '상품C',
 '상품F',
 '상품V',
 '상품U',
 '상 품K',
 '상품H',
 '상품E',
 '상품F',
 '상품E',
 '상품C',
 '상품C',
 '상품G',
 '상품X',
 '상품J',
 '상 품T',
 '상품H',
 '상품B',
 '상품R',
 '상품R',
 '상품V',
 '상품K',
 '상품I',
 '상품B',
 '상품B',
 '상품U',
 '상품I',
 '상품X',
 '상품S',
 '상품F',
 '상품V',
 '상품O',
 '상품S',
 '상품J',
 '상품X',
 '상품Q',
 '상품D',
 '상품V',
 '상품J',
 '상품H',
 '상품H',
 '상품A',
 '상품I',
 '상품L',
 '상품I',
 '상품R',
 '상품G',
 '상품V',
 '상품C',
 '상품E',
 '상품A',
 '상품U',
 '상품 X',
 '상품N',
 '상품O',
 '상품K',
 '상품V',
 '상품V',
 '상품B',
 '상품M',
 '상품T',
 '상품Q',
 '상품U',
 '상품R',
 '상품F',
 '상품F',
 '상품R',
 '상품R',
 '상품G',
 '상품C',
 '상품C',
 '상품F',
 '상품T',
 '상품Y',
 '상품D',
 '상품A',
 '상품Y',
 '상품F',
 '상품F',
 '상품M',
 '상품B',
 '상품H',
 '상품I',
 '상품F',
 '상품O',
 '상품A',
 '상품Q',
 '상품D',
 '상품F',
 '상품G',
 '상품O',
 '상품S',
 '상품T',
 '상품D',
 '상품I',
 '상품P',
 '상품K',
 '상품R',
 '상품V',
 '상품D',
 '상품C',
 '상품B',
 '상품C',
 '상품D',
 '상품F',
 '상품R',
 '상품H',
 '상품A',
 '상품S',
 '상품X',
 '상품P',
 '상품I',
 '상품Y',
 '상품C',
 '상품B',
 '상품A',
 '상품V',
 '상품W',
 '상품G',
 '상품V',
 '상품C',
 '상품N',
 '상품L',
 '상품I',
 '상품R',
 '상품B',
 '상품W',
 '상품E',
 '상품R',
 '상품N',
 '상품G',
 '상품U',
 '상품N',
 '상품Y',
 '상품L',
 '상품W',
 '상품D',
 '상품O',
 '상품N',
 '상품J',
 '상품A',
 '상품H',
 '상품D',
 '상품K',
 '상품B',
 '상품C',
 '상품M',
 '상품T',
 '상품X',
 '상품V',
 '상품L',
 '상품A',
 '상품Y',
 '상품T',
 '상품N',
 '상품G',
 '상품M',
 '상품T',
 '상품F',
 '상품M',
 '상품M',
 '상품I',
 '상품Y',
 '상품G',
 '상품B',
 '상품U',
 '상품X',
 '상품F',
 '상품J',
 '상품A',
 '상품R',
 '상품V',
 '상품P',
 '상품A',
 '상품O',
 '상품Y',
 '상품R',
 '상품X',
 '상품R',
 '상품A',
 '상품Y',
 '상품Q',
 '상품V',
 '상품O',
 '상품O',
 '상품M',
 '상품G',
 '상품S',
 '상품K',
 '상품J',
 '상품O',
 '상품R',
 '상품Q',
 '상품M',
 '상품C',
 '상품W',
 '상품G',
 '상품C',
 '상품P',
 '상품N',
 '상품N',
 '상품A',
 '상품E',
 '상품V',
 '상품D',
 '상품U',
 '상품S',
 '상품N',
 '상품Y',
 '상품R',
 '상품N',
 '상품W',
 '상품J',
 '상품L',
 '상품D',
 '상품S',
 '상품Y',
 '상품W',
 '상품T',
 '상품L',
 '상품V',
 '상품R',
 '상품H',
 '상품E',
 '상품O',
 '상품E',
 '상품V',
 '상품 Q',
 '상품H',
 '상품I',
 '상품M',
 '상품M',
 '상품X',
 '상품L',
 '상품F',
 '상품E',
 '상품S',
 '상품N',
 '상품I',
 '상품O',
 '상품F',
 '상품B',
 '상품N',
 '상품O',
 '상품P',
 '상품V',
 '상품L',
 '상품I',
 '상품N',
 '상품U',
 '상품J',
 '상품X',
 '상품E',
 '상품O',
 '상품D',
 '상품C',
 '상품K',
 '상품K',
 '상품R',
 '상품X',
 '상품S',
 '상품W',
 '상품U',
 '상품J',
 '상품C',
 '상품I',
 '상품Q',
 '상품E',
 '상품V',
 '상품D',
 '상품R',
 '상품F',
 '상품B',
 '상품K',
 '상품A',
 '상품T',
 '상품A',
 '상품U',
 '상품Y',
 '상품Q',
 '상품L',
 '상품R',
 '상품H',
 '상품S',
 '상품Q',
 '상품S',
 '상품W',
 '상품H',
 '상품G',
 '상품M',
 '상품A',
 '상품M',
 '상품M',
 '상품Q',
 '상품T',
 '상품X',
 '상품U',
 '상품O',
 '상품S',
 '상품E',
 '상품C',
 '상품C',
 '상품R',
 '상품J',
 '상품G',
 '상품L',
 '상품Y',
 '상품P',
 '상품O',
 '상품K',
 '상품C',
 '상품A',
 '상품N',
 '상품J',
 '상품N',
 '상품X',
 '상품U',
 '상품A',
 '상품J',
 '상품G',
 '상품S',
 '상품J',
 '상품Q',
 '상품X',
 '상품R',
 '상품C',
 '상품Y',
 '상품U',
 '상품L',
 '상품B',
 '상품Q',
 '상품R',
 '상품A',
 '상품P',
 '상품L',
 '상품L',
 '상품H',
 '상품D',
 '상품D',
 '상품R',
 '상품A',
 '상품S',
 '상품Y',
 '상품C',
 '상품V',
 '상품A',
 '상품N',
 '상품M',
 '상품E',
 '상품C',
 '상품A',
 '상품A',
 '상품N',
 '상품W',
 '상품X',
 '상품I',
 '상품L',
 '상품Y',
 '상품P',
 '상품D',
 '상품V',
 '상품O',
 '상품L',
 '상품B',
 '상품J',
 '상품S',
 '상 품X',
 '상품D',
 '상품B',
 '상품K',
 '상품R',
 '상품V',
 '상품N',
 '상품A',
 '상품Q',
 '상품I',
 '상품P',
 '상품E',
 '상품B',
 '상품S',
 '상품Q',
 '상품O',
 '상품W',
 '상품D',
 '상품K',
 '상품J',
 '상품X',
 '상품J',
 '상품C',
 '상품V',
 '상품C',
 '상품D',
 '상품H',
 '상품O',
 '상품K',
 '상품U',
 '상품N',
 '상품E',
 '상품D',
 '상품Y',
 '상품B',
 '상품G',
 '상품X',
 '상품X',
 '상품B',
 '상품S',
 '상품T',
 '상품O',
 '상품W',
 '상품Q',
 '상품M',
 '상품Q',
 '상품O',
 '상품J',
 '상품B',
 '상품K',
 '상품S',
 '상품F',
 '상품C',
 '상품O',
 '상품S',
 '상품T',
 '상품H',
 '상품R',
 '상품P',
 '상품A',
 '상품U',
 '상품H',
 '상품J',
 '상품S',
 '상품A',
 '상품Q',
 '상품G',
 '상품P',
 '상품Q',
 '상품R',
 '상품X',
 '상품Y',
 '상품R',
 '상품P',
 '상품Q',
 '상품I',
 '상품D',
 '상품F',
 '상품X',
 '상 품Y',
 '상품O',
 '상품D',
 '상품S',
 '상품O',
 '상품F',
 '상품S',
 '상품F',
 '상품G',
 '상품T',
 '상품J',
 '상품B',
 '상품O',
 '상품M',
 '상품O',
 '상품O',
 '상품F',
 '상품J',
 '상품V',
 '상품I',
 '상품S',
 '상품H',
 '상품C',
 '상품I',
 '상품B',
 '상품W',
 '상품J',
 '상품B',
 ...]

In [158]:
## 데이터프레임에서 item_name의 value를 하나씩 추출하여 대문자로 변환
## 해당하는 위치에 데이터를 대입
for i in range(len(df)) :
    data = df.loc[i, 'item_name'].upper().replace(" ", "")
    
    df.loc[i, 'item_name'] = data

In [25]:
df.head(5)

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05       상품S         NaN           김우찬
2  2019-05-11 19:42       상품A         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품A         NaN           김강현

In [31]:
## 특정 1차원 데이터에서 중복된 데이터를 제거
_list = df['item_name'].to_list()
_list1 = []
for i in _list :
    if i not in _list1 :
        _list1.append(i)
_list1

['상품A',
 '상품S',
 '상품Z',
 '상품V',
 '상품O',
 '상품U',
 '상품L',
 '상품C',
 '상품I',
 '상품R',
 '상품X',
 '상품G',
 '상품P',
 '상품Q',
 '상품Y',
 '상품N',
 '상품W',
 '상품E',
 '상품K',
 '상품B',
 '상품F',
 '상품D',
 '상품M',
 '상품H',
 '상품T',
 '상품J']

In [33]:
## 집합형태의 데이터 변환
set(_list1)

{'상품A',
 '상품B',
 '상품C',
 '상품D',
 '상품E',
 '상품F',
 '상품G',
 '상품H',
 '상품I',
 '상품J',
 '상품K',
 '상품L',
 '상품M',
 '상품N',
 '상품O',
 '상품P',
 '상품Q',
 '상품R',
 '상품S',
 '상품T',
 '상품U',
 '상품V',
 '상품W',
 '상품X',
 '상품Y',
 '상품Z'}

In [37]:
## map() 함수
## map( 함수 ( 일반함수, lambda함수), 1차원 데이터)
def change(x) :
    return x.lower()

list(map(
    change,
    _list1
))

['상품a',
 '상품s',
 '상품z',
 '상품v',
 '상품o',
 '상품u',
 '상품l',
 '상품c',
 '상품i',
 '상품r',
 '상품x',
 '상품g',
 '상품p',
 '상품q',
 '상품y',
 '상품n',
 '상품w',
 '상품e',
 '상품k',
 '상품b',
 '상품f',
 '상품d',
 '상품m',
 '상품h',
 '상품t',
 '상품j']

In [39]:
list(
    map(
        lambda x : x.lower(),
        _list1
    )
)

['상품a',
 '상품s',
 '상품z',
 '상품v',
 '상품o',
 '상품u',
 '상품l',
 '상품c',
 '상품i',
 '상품r',
 '상품x',
 '상품g',
 '상품p',
 '상품q',
 '상품y',
 '상품n',
 '상품w',
 '상품e',
 '상품k',
 '상품b',
 '상품f',
 '상품d',
 '상품m',
 '상품h',
 '상품t',
 '상품j']

In [43]:
df2 = uriage.copy()
df2['item_name']

0         상품A
1       상 품 S
2       상 품 a
3         상품Z
4         상품a
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [45]:
def change(x) :
    return x.upper().replace(" ","")
    
list(map(
    change,
    df2['item_name']
    )
)

['상품A',
 '상품S',
 '상품A',
 '상품Z',
 '상품A',
 '상품S',
 '상품A',
 '상품V',
 '상품O',
 '상품A',
 '상품U',
 '상품L',
 '상품V',
 '상품O',
 '상품A',
 '상품C',
 '상품V',
 '상품I',
 '상품R',
 '상품X',
 '상품O',
 '상품G',
 '상품X',
 '상품R',
 '상품P',
 '상품Q',
 '상품Y',
 '상품P',
 '상품P',
 '상품R',
 '상품P',
 '상품A',
 '상품N',
 '상품R',
 '상품W',
 '상품A',
 '상품E',
 '상품K',
 '상품O',
 '상품W',
 '상품O',
 '상품K',
 '상품B',
 '상품F',
 '상품P',
 '상품X',
 '상품B',
 '상품S',
 '상품F',
 '상품X',
 '상품W',
 '상품N',
 '상품Q',
 '상품P',
 '상품I',
 '상품F',
 '상품D',
 '상품R',
 '상품M',
 '상품M',
 '상품Q',
 '상품A',
 '상품Y',
 '상품I',
 '상품U',
 '상품H',
 '상품P',
 '상품P',
 '상품T',
 '상품Y',
 '상품W',
 '상품M',
 '상품V',
 '상품D',
 '상품J',
 '상품O',
 '상품L',
 '상품F',
 '상품U',
 '상품N',
 '상품P',
 '상품S',
 '상품X',
 '상품O',
 '상품V',
 '상품K',
 '상품N',
 '상품I',
 '상품O',
 '상품R',
 '상품V',
 '상품Y',
 '상품E',
 '상품E',
 '상품H',
 '상품S',
 '상품W',
 '상품Y',
 '상품O',
 '상품F',
 '상품K',
 '상품B',
 '상품W',
 '상품Q',
 '상품Q',
 '상품N',
 '상품S',
 '상품M',
 '상품I',
 '상품T',
 '상품I',
 '상품H',
 '상품Y',
 '상품R',
 '상품C',
 '상품V',
 '상품T',
 '상품A',
 '상품T',
 '상품Q',
 '상품P',
 '상품W',
 '상품I',
 '상품T',
 '상품G',
 '상품N',
 '상품U',
 '상품S',
 '상품U',
 '상품M',
 '상품A',
 '상품P',
 '상품U',
 '상품X',
 '상품I',
 '상품U',
 '상품X',
 '상품L',
 '상품F',
 '상품G',
 '상품D',
 '상품X',
 '상품U',
 '상품N',
 '상품C',
 '상품W',
 '상품S',
 '상품U',
 '상품K',
 '상품G',
 '상품Q',
 '상품I',
 '상품L',
 '상품T',
 '상품P',
 '상품T',
 '상품V',
 '상품E',
 '상품P',
 '상품G',
 '상품L',
 '상품P',
 '상품M',
 '상품D',
 '상품O',
 '상품N',
 '상품X',
 '상품W',
 '상품J',
 '상품X',
 '상품R',
 '상품A',
 '상품W',
 '상품C',
 '상품O',
 '상품V',
 '상품U',
 '상품F',
 '상품K',
 '상품W',
 '상품E',
 '상품S',
 '상품N',
 '상품C',
 '상품I',
 '상품W',
 '상품D',
 '상품E',
 '상품V',
 '상품Y',
 '상품V',
 '상품X',
 '상품F',
 '상품F',
 '상품B',
 '상품C',
 '상품K',
 '상품M',
 '상품Y',
 '상품Q',
 '상품I',
 '상품G',
 '상품T',
 '상품D',
 '상품D',
 '상품Y',
 '상품E',
 '상품N',
 '상품F',
 '상품N',
 '상품A',
 '상품A',
 '상품B',
 '상품X',
 '상품Y',
 '상품S',
 '상품P',
 '상품V',
 '상품I',
 '상품O',
 '상품J',
 '상품J',
 '상품C',
 '상품A',
 '상품U',
 '상품J',
 '상품M',
 '상품F',
 '상품B',
 '상품N',
 '상품Q',
 '상품T',
 '상품L',
 '상품O',
 '상품A',
 '상품R',
 '상품R',
 '상품F',
 '상품Y',
 '상품R',
 '상품L',
 '상품B',
 '상품V',
 '상품P',
 '상품X',
 '상품B',
 '상품Q',
 '상품U',
 '상품W',
 '상품U',
 '상품C',
 '상품V',
 '상품Q',
 '상품N',
 '상품X',
 '상품P',
 '상품B',
 '상품C',
 '상품Q',
 '상품S',
 '상품E',
 '상품F',
 '상품F',
 '상품F',
 '상품E',
 '상품G',
 '상품U',
 '상품L',
 '상품U',
 '상품I',
 '상품F',
 '상품W',
 '상품K',
 '상품V',
 '상품A',
 '상품F',
 '상품L',
 '상품O',
 '상품S',
 '상품D',
 '상품V',
 '상품J',
 '상품E',
 '상품U',
 '상품W',
 '상품B',
 '상품J',
 '상품L',
 '상품W',
 '상품K',
 '상품B',
 '상품F',
 '상품B',
 '상품M',
 '상품C',
 '상품A',
 '상품N',
 '상품P',
 '상품C',
 '상품X',
 '상품A',
 '상품L',
 '상품K',
 '상품P',
 '상품S',
 '상품Q',
 '상품M',
 '상품R',
 '상품K',
 '상품X',
 '상품X',
 '상품H',
 '상품G',
 '상품G',
 '상품E',
 '상품O',
 '상품E',
 '상품R',
 '상품Y',
 '상품M',
 '상품P',
 '상품B',
 '상품E',
 '상품U',
 '상품V',
 '상품L',
 '상품T',
 '상품W',
 '상품V',
 '상품W',
 '상품B',
 '상품R',
 '상품V',
 '상품W',
 '상품M',
 '상품G',
 '상품G',
 '상품G',
 '상품G',
 '상품M',
 '상품F',
 '상품V',
 '상품W',
 '상품N',
 '상품J',
 '상품H',
 '상품A',
 '상품A',
 '상품F',
 '상품M',
 '상품G',
 '상품D',
 '상품I',
 '상품O',
 '상품W',
 '상품S',
 '상품Q',
 '상품C',
 '상품P',
 '상품I',
 '상품A',
 '상품A',
 '상품S',
 '상품A',
 '상품M',
 '상품D',
 '상품G',
 '상품G',
 '상품T',
 '상품E',
 '상품O',
 '상품T',
 '상품S',
 '상품T',
 '상품X',
 '상품V',
 '상품Q',
 '상품F',
 '상품H',
 '상품B',
 '상품B',
 '상품M',
 '상품I',
 '상품R',
 '상품L',
 '상품D',
 '상품K',
 '상품V',
 '상품K',
 '상품F',
 '상품B',
 '상품V',
 '상품T',
 '상품K',
 '상품J',
 '상품A',
 '상품O',
 '상품J',
 '상품H',
 '상품I',
 '상품S',
 '상품S',
 '상품E',
 '상품N',
 '상품O',
 '상품R',
 '상품Q',
 '상품E',
 '상품Y',
 '상품F',
 '상품D',
 '상품A',
 '상품R',
 '상품W',
 '상품P',
 '상품F',
 '상품Y',
 '상품C',
 '상품R',
 '상품Q',
 '상품V',
 '상품E',
 '상품F',
 '상품O',
 '상품V',
 '상품S',
 '상품M',
 '상품E',
 '상품J',
 '상품P',
 '상품F',
 '상품S',
 '상품T',
 '상품W',
 '상품W',
 '상품U',
 '상품L',
 '상품Q',
 '상품S',
 '상품Q',
 '상품Q',
 '상품D',
 '상품G',
 '상품U',
 '상품E',
 '상품S',
 '상품F',
 '상품B',
 '상품N',
 '상품F',
 '상품Y',
 '상품D',
 '상품X',
 '상품C',
 '상품S',
 '상품S',
 '상품L',
 '상품B',
 '상품D',
 '상품B',
 '상품M',
 '상품D',
 '상품J',
 '상품I',
 '상품J',
 '상품R',
 '상품C',
 '상품J',
 '상품D',
 '상품R',
 '상품O',
 '상품Q',
 '상품P',
 '상품A',
 '상품F',
 '상품D',
 '상품D',
 '상품K',
 '상품D',
 '상품C',
 '상품V',
 '상품M',
 '상품O',
 '상품M',
 '상품P',
 '상품A',
 '상품K',
 '상품N',
 '상품A',
 '상품X',
 '상품V',
 '상품E',
 '상품P',
 '상품H',
 '상품P',
 '상품X',
 '상품H',
 '상품A',
 '상품U',
 '상품K',
 '상품C',
 '상품R',
 '상품W',
 '상품E',
 '상품V',
 '상품C',
 '상품T',
 '상품D',
 '상품N',
 '상품W',
 '상품P',
 '상품U',
 '상품P',
 '상품N',
 '상품P',
 '상품E',
 '상품T',
 '상품W',
 '상품L',
 '상품C',
 '상품H',
 '상품O',
 '상품W',
 '상품D',
 '상품N',
 '상품N',
 '상품P',
 '상품K',
 '상품C',
 '상품F',
 '상품V',
 '상품U',
 '상품K',
 '상품H',
 '상품E',
 '상품F',
 '상품E',
 '상품C',
 '상품C',
 '상품G',
 '상품X',
 '상품J',
 '상품T',
 '상품H',
 '상품B',
 '상품R',
 '상품R',
 '상품V',
 '상품K',
 '상품I',
 '상품B',
 '상품B',
 '상품U',
 '상품I',
 '상품X',
 '상품S',
 '상품F',
 '상품V',
 '상품O',
 '상품S',
 '상품J',
 '상품X',
 '상품Q',
 '상품D',
 '상품V',
 '상품J',
 '상품H',
 '상품H',
 '상품A',
 '상품I',
 '상품L',
 '상품I',
 '상품R',
 '상품G',
 '상품V',
 '상품C',
 '상품E',
 '상품A',
 '상품U',
 '상품X',
 '상품N',
 '상품O',
 '상품K',
 '상품V',
 '상품V',
 '상품B',
 '상품M',
 '상품T',
 '상품Q',
 '상품U',
 '상품R',
 '상품F',
 '상품F',
 '상품R',
 '상품R',
 '상품G',
 '상품C',
 '상품C',
 '상품F',
 '상품T',
 '상품Y',
 '상품D',
 '상품A',
 '상품Y',
 '상품F',
 '상품F',
 '상품M',
 '상품B',
 '상품H',
 '상품I',
 '상품F',
 '상품O',
 '상품A',
 '상품Q',
 '상품D',
 '상품F',
 '상품G',
 '상품O',
 '상품S',
 '상품T',
 '상품D',
 '상품I',
 '상품P',
 '상품K',
 '상품R',
 '상품V',
 '상품D',
 '상품C',
 '상품B',
 '상품C',
 '상품D',
 '상품F',
 '상품R',
 '상품H',
 '상품A',
 '상품S',
 '상품X',
 '상품P',
 '상품I',
 '상품Y',
 '상품C',
 '상품B',
 '상품A',
 '상품V',
 '상품W',
 '상품G',
 '상품V',
 '상품C',
 '상품N',
 '상품L',
 '상품I',
 '상품R',
 '상품B',
 '상품W',
 '상품E',
 '상품R',
 '상품N',
 '상품G',
 '상품U',
 '상품N',
 '상품Y',
 '상품L',
 '상품W',
 '상품D',
 '상품O',
 '상품N',
 '상품J',
 '상품A',
 '상품H',
 '상품D',
 '상품K',
 '상품B',
 '상품C',
 '상품M',
 '상품T',
 '상품X',
 '상품V',
 '상품L',
 '상품A',
 '상품Y',
 '상품T',
 '상품N',
 '상품G',
 '상품M',
 '상품T',
 '상품F',
 '상품M',
 '상품M',
 '상품I',
 '상품Y',
 '상품G',
 '상품B',
 '상품U',
 '상품X',
 '상품F',
 '상품J',
 '상품A',
 '상품R',
 '상품V',
 '상품P',
 '상품A',
 '상품O',
 '상품Y',
 '상품R',
 '상품X',
 '상품R',
 '상품A',
 '상품Y',
 '상품Q',
 '상품V',
 '상품O',
 '상품O',
 '상품M',
 '상품G',
 '상품S',
 '상품K',
 '상품J',
 '상품O',
 '상품R',
 '상품Q',
 '상품M',
 '상품C',
 '상품W',
 '상품G',
 '상품C',
 '상품P',
 '상품N',
 '상품N',
 '상품A',
 '상품E',
 '상품V',
 '상품D',
 '상품U',
 '상품S',
 '상품N',
 '상품Y',
 '상품R',
 '상품N',
 '상품W',
 '상품J',
 '상품L',
 '상품D',
 '상품S',
 '상품Y',
 '상품W',
 '상품T',
 '상품L',
 '상품V',
 '상품R',
 '상품H',
 '상품E',
 '상품O',
 '상품E',
 '상품V',
 '상품Q',
 '상품H',
 '상품I',
 '상품M',
 '상품M',
 '상품X',
 '상품L',
 '상품F',
 '상품E',
 '상품S',
 '상품N',
 '상품I',
 '상품O',
 '상품F',
 '상품B',
 '상품N',
 '상품O',
 '상품P',
 '상품V',
 '상품L',
 '상품I',
 '상품N',
 '상품U',
 '상품J',
 '상품X',
 '상품E',
 '상품O',
 '상품D',
 '상품C',
 '상품K',
 '상품K',
 '상품R',
 '상품X',
 '상품S',
 '상품W',
 '상품U',
 '상품J',
 '상품C',
 '상품I',
 '상품Q',
 '상품E',
 '상품V',
 '상품D',
 '상품R',
 '상품F',
 '상품B',
 '상품K',
 '상품A',
 '상품T',
 '상품A',
 '상품U',
 '상품Y',
 '상품Q',
 '상품L',
 '상품R',
 '상품H',
 '상품S',
 '상품Q',
 '상품S',
 '상품W',
 '상품H',
 '상품G',
 '상품M',
 '상품A',
 '상품M',
 '상품M',
 '상품Q',
 '상품T',
 '상품X',
 '상품U',
 '상품O',
 '상품S',
 '상품E',
 '상품C',
 '상품C',
 '상품R',
 '상품J',
 '상품G',
 '상품L',
 '상품Y',
 '상품P',
 '상품O',
 '상품K',
 '상품C',
 '상품A',
 '상품N',
 '상품J',
 '상품N',
 '상품X',
 '상품U',
 '상품A',
 '상품J',
 '상품G',
 '상품S',
 '상품J',
 '상품Q',
 '상품X',
 '상품R',
 '상품C',
 '상품Y',
 '상품U',
 '상품L',
 '상품B',
 '상품Q',
 '상품R',
 '상품A',
 '상품P',
 '상품L',
 '상품L',
 '상품H',
 '상품D',
 '상품D',
 '상품R',
 '상품A',
 '상품S',
 '상품Y',
 '상품C',
 '상품V',
 '상품A',
 '상품N',
 '상품M',
 '상품E',
 '상품C',
 '상품A',
 '상품A',
 '상품N',
 '상품W',
 '상품X',
 '상품I',
 '상품L',
 '상품Y',
 '상품P',
 '상품D',
 '상품V',
 '상품O',
 '상품L',
 '상품B',
 '상품J',
 '상품S',
 '상품X',
 '상품D',
 '상품B',
 '상품K',
 '상품R',
 '상품V',
 '상품N',
 '상품A',
 '상품Q',
 '상품I',
 '상품P',
 '상품E',
 '상품B',
 '상품S',
 '상품Q',
 '상품O',
 '상품W',
 '상품D',
 '상품K',
 '상품J',
 '상품X',
 '상품J',
 '상품C',
 '상품V',
 '상품C',
 '상품D',
 '상품H',
 '상품O',
 '상품K',
 '상품U',
 '상품N',
 '상품E',
 '상품D',
 '상품Y',
 '상품B',
 '상품G',
 '상품X',
 '상품X',
 '상품B',
 '상품S',
 '상품T',
 '상품O',
 '상품W',
 '상품Q',
 '상품M',
 '상품Q',
 '상품O',
 '상품J',
 '상품B',
 '상품K',
 '상품S',
 '상품F',
 '상품C',
 '상품O',
 '상품S',
 '상품T',
 '상품H',
 '상품R',
 '상품P',
 '상품A',
 '상품U',
 '상품H',
 '상품J',
 '상품S',
 '상품A',
 '상품Q',
 '상품G',
 '상품P',
 '상품Q',
 '상품R',
 '상품X',
 '상품Y',
 '상품R',
 '상품P',
 '상품Q',
 '상품I',
 '상품D',
 '상품F',
 '상품X',
 '상품Y',
 '상품O',
 '상품D',
 '상품S',
 '상품O',
 '상품F',
 '상품S',
 '상품F',
 '상품G',
 '상품T',
 '상품J',
 '상품B',
 '상품O',
 '상품M',
 '상품O',
 '상품O',
 '상품F',
 '상품J',
 '상품V',
 '상품I',
 '상품S',
 '상품H',
 '상품C',
 '상품I',
 '상품B',
 '상품W',
 '상품J',
 '상품B',
 ...]

In [49]:
df2['item_name'].map(change)

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [50]:
df['item_name'].map(
    lambda x : x.upper().replace(" ", "")
)

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [51]:
df2['item_name'].replace()

0         상품A
1       상 품 S
2       상 품 a
3         상품Z
4         상품a
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [52]:
a = 'Hello'
for i in a :
    print(i)

H
e
l
l
o

In [53]:
def custom_replace (data, origin, new):
    # 첫번째 매개변수는 변경시킬 문자열
    # 두번째 매개변수는 기존 문자열
    # 세번째 매개변수는 기존의 문자열을 변경할 문자열
    result = ''
    for i in data :
        if i == origin:
            result += new
        else :
            result += i
    return result

In [54]:
custom_replace ('abcde', 'a', 'A')

'Abcde'

In [58]:
def custom_replace2 (data, origin, new) :
    result = []
    for i in data:
        if i == origin :
            result.append(new)
        else :
            result.append(i)
    return result

In [59]:
data = ['a', 'b', 'a', 'd']
custom_replace2(data,'a','A')

['A', 'b', 'A', 'd']

In [68]:
df2['item_name'] = df2['item_name'].str.upper().str.replace(" ","")

In [76]:
import numpy as np

In [95]:
## item_name이 상품A이고 item_price가 결측치가 아닌 데이터 필터
flag = df2['item_name'] == '상품A'
flag_null = df['item_price'].isna()
df.loc[~flag_null & flag,]

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
9     2019-01-28 10:47       상품A       100.0           김태윤
31    2019-06-29 10:01       상품A       100.0           김하민
35     2019-01-12 3:26       상품A       100.0           김건희
61    2019-02-11 17:00       상품A       100.0           김성윤
...                ...       ...         ...           ...
2875  2019-06-03 17:33       상품A       100.0           김서진
2886  2019-04-25 17:15       상품A       100.0           김강현
2897  2019-05-20 14:05       상품A       100.0           김지안
2951   2019-05-06 2:24       상품A       100.0           김주혁
2973  2019-07-13 21:38       상품A       100.0           김태윤

[117 rows x 4 columns]

### 결측치를 다른 값들로 대체
1. 상품명에 따라 가격이 고정값을 이룬다.
2. 결측치를 상품명에 맞춰서 해당 상품의 결측치가 아닌 상품 가격들의 평균값을 대체
    - ex) 상품A인 데이터 중에 item_price가 결측치가 아닌 데이터들의 평균 값을 구하고 해당 값을 결측치에 대입

In [96]:
df.loc[~flag_null & flag,'item_price'].mean()

100.0

In [97]:
# item_name 중복값을 제거한 _list1
_list = df['item_name'].to_list()
_list1 = []
for i in _list :
    if i not in _list1 :
        _list1.append(i)
_list1

['상품A',
 '상품S',
 '상품Z',
 '상품V',
 '상품O',
 '상품U',
 '상품L',
 '상품C',
 '상품I',
 '상품R',
 '상품X',
 '상품G',
 '상품P',
 '상품Q',
 '상품Y',
 '상품N',
 '상품W',
 '상품E',
 '상품K',
 '상품B',
 '상품F',
 '상품D',
 '상품M',
 '상품H',
 '상품T',
 '상품J']

In [136]:
name_list = list(set(df['item_name']))
name_list

['상품M',
 '상품P',
 '상품D',
 '상품K',
 '상품R',
 '상품N',
 '상품J',
 '상품Z',
 '상품H',
 '상품Y',
 '상품I',
 '상품W',
 '상품T',
 '상품L',
 '상품E',
 '상품C',
 '상품G',
 '상품X',
 '상품U',
 '상품O',
 '상품Q',
 '상품S',
 '상품B',
 '상품V',
 '상품F',
 '상품A']

In [143]:
df

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [161]:
def fill_price(_df, _name):
    ## _df를 copy()
    result = _df.copy()
    flag = result['item_name'] == _name
    flag_null = result['item_price'].isna()
    
    ## flag와 flag_null의 부정이 모두 만족하는 item_price의 평균
    mean_data = result.loc[flag & ~flag_null, 'item_price'].mean()
    ## 위에서 구해진 평균 데이터를 flag와 flag_null을 모두 만족하는 item_price에 대입
    result.loc[flag % flag_null, 'item_price'] = mean_data
    
    print(f"{_name} 작업완료")
    return result

In [162]:
name_list = set(df['item_name'])
for name in name_list :
    fill_price(df, name)

상품M 작업완료
상품P 작업완료
상품D 작업완료
상품K 작업완료
상품R 작업완료
상품N 작업완료
상품J 작업완료
상품Z 작업완료
상품H 작업완료
상품Y 작업완료
상품I 작업완료
상품W 작업완료
상품T 작업완료
상품L 작업완료
상품E 작업완료
상품C 작업완료
상품G 작업완료
상품X 작업완료
상품U 작업완료
상품O 작업완료
상품Q 작업완료
상품S 작업완료
상품B 작업완료
상품V 작업완료
상품F 작업완료
상품A 작업완료

In [117]:
# item_name 중복값을 제거한 _list1
_list = df['item_name'].to_list()
_list1 = []
for i in _list :
    if i not in _list1 :
        _list1.append(i)
        
for j in _list1:
    flag = df['item_name'] == j
    flag_null = df['item_price'].isna()
    data = df.loc[flag & ~flag_null, 'item_price'].mean()
    df2.loc[flag & flag_null, 'item_price'] = data
df2

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S      1900.0           김우찬
2     2019-05-11 19:42       상품A       100.0           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A       100.0           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q      1700.0           김지율
2997  2019-07-14 12:56       상품H       800.0           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [118]:
df

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [114]:
df2.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [110]:
df.loc[flag & flag_null, 'item_price']

428    NaN
1408   NaN
1547   NaN
1701   NaN
1979   NaN
2085   NaN
2142   NaN
2150   NaN
2212   NaN
2229   NaN
2311   NaN
2569   NaN
2653   NaN
2761   NaN
2814   NaN
Name: item_price, dtype: float64

In [163]:
uriage['item_name'] = uriage['item_name'].str.upper().str.replace(" ","")

In [164]:
uriage

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [168]:
## 정렬을 item_name을 기준으로 정렬
uriage.sort_values(['item_name', 'item_price'], inplace = True)

In [171]:
uriage.reset_index(drop=True, inplace=True)

In [176]:
# 현재의 행의 item_price가 결측이고
flag1 = uriage['item_price'].isna()

#전 행의 item_price가 결측치가 아닌 조건
flag2 = ~uriage['item_price'].shift(1).isna()

In [178]:
uriage.loc[flag1 & flag2,]

         purchase_date item_name  item_price customer_name
117   2019-05-11 19:42       상품A         NaN           김유찬
234   2019-04-15 16:44       상품B         NaN           김지호
365   2019-02-12 22:35       상품C         NaN           김대현
500   2019-04-01 13:25       상품D         NaN           김유찬
602   2019-02-20 23:12       상품E         NaN           김시온
722   2019-02-19 16:59       상품F         NaN           김주혁
837    2019-05-12 6:18       상품G         NaN           김시훈
952    2019-06-21 2:38       상품H         NaN           김준희
1060  2019-06-25 16:31       상품I         NaN           김재훈
1175   2019-06-20 9:00       상품J         NaN           김연준
1282  2019-07-17 20:15       상품K         NaN           김은혁
1398  2019-06-10 18:21       상품L         NaN           김지한
1512   2019-06-16 0:41       상품M         NaN           김태민
1625  2019-04-24 17:44       상품N         NaN           김은율
1752  2019-07-02 21:30       상품O         NaN           김도현
1891  2019-01-04 12:05       상품P         NaN           김우진
2007   2019-05-21 5:04       상품Q         NaN           김승주
2144   2019-07-06 4:39       상품R         NaN           김도훈
2277  2019-07-13 13:05       상품S         NaN           김우찬
2406   2019-07-05 1:18       상품T         NaN           김지완
2514  2019-04-19 13:27       상품U         NaN           김우빈
2636   2019-05-07 7:37       상품V         NaN           김지훈
2758  2019-02-04 18:23       상품W         NaN           김시윤
2879   2019-03-24 1:13       상품X         NaN           김태현
2984  2019-05-10 17:54       상품Y         NaN           김태민

In [180]:
uriage['item_price']

0        100.0
1        100.0
2        100.0
3        100.0
4        100.0
         ...
2994       NaN
2995       NaN
2996       NaN
2997       NaN
2998    2600.0
Name: item_price, Length: 2999, dtype: float64

In [181]:
uriage['item_price'] = uriage['item_price'].fillna(method = 'ffill')

In [182]:
uriage.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [183]:
uriage[['item_name', 'item_price']].groupby('item_name').mean()

           item_price
item_name
상품A             100.0
상품B             200.0
상품C             300.0
상품D             400.0
상품E             500.0
상품F             600.0
상품G             700.0
상품H             800.0
상품I             900.0
상품J            1000.0
상품K            1100.0
상품L            1200.0
상품M            1300.0
상품N            1400.0
상품O            1500.0
상품P            1600.0
상품Q            1700.0
상품R            1800.0
상품S            1900.0
상품T            2000.0
상품U            2100.0
상품V            2200.0
상품W            2300.0
상품X            2400.0
상품Y            2500.0
상품Z            2600.0